body {
    font-family: 'Cubest', sans-serif;
}
.hero {
    background-image: url('../../assets/background.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    text-align: left;
    padding-left: 120px;
}

/* Ensure text and buttons appear on top of the overlay */
.hero-content {
    max-width: 700px;
    width: 100%;
    position: relative;
    z-index: 2;
}


.title {
    font-size: 80px;
    font-family: 'Cubest', sans-serif;
}

.slogan {
    font-size: 20px;
    ;
    font-family: 'Cubest', sans-serif;
    color: #F5D15F;
}

.description {
    font-size: 20px;
    ;
    font-family: 'Cubest', sans-serif;
    color: #ffffff;

}

.explore-button {
    justify-content: right;
}

.button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* Full width of the container */
    height: 30%;
    margin-top: 5%;
    /* Optional spacing above buttons */
}

.button {
    margin: 10px;
    padding: 20px 40px;
    background-color: #E83757;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    color: white;
    font-family: 'Cubest', sans-serif;
}

.content {
    padding: 20px;
    min-height: 100vh;
    /* Makes it take up full viewport height */
    background-image: url('../../assets/exoplanet_desc.png');
    /* New background image */
    background-position: top right;
    background-repeat: no-repeat;
    background-color: black;
    color: black;
    /* Adjust text color if necessary */
    padding-left: 120px;
    /* Adds some space from the left edge */

}

.important-facts {
    padding: 20px;
    min-height: 100vh;
    /* Makes it take up full viewport height */
    background-image: url('../../assets/exoplanet_desc.png');
    /* New background image */
    background-size: 70%;
    background-position: top right;
    background-repeat: no-repeat;
    background-color: black;
    color: black;
    /* Adjust text color if necessary */
    padding-left: 120px;
    /* Adds some space from the left edge */

}